.btn,
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .3s;
    position: relative;

    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 3rem 2rem rgba($color-black, .2);

    }

    &:active{
        transform: translateY(-.1em);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &:hover::after{
        transform: scaleX(1.4) scaleY(1.6  );
        opacity: 0;
    }
}

.btn-white{
    background-color: $color-white;
    color: $color-primary-light;
}

.btn-animated{
    animation: moveInUp .5s ease-out .75s backwards;
}

.btn-green{
    background-color: $color-primary-light;
    color: $color-white;
}